absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.7.0
astunparse==1.6.3
attrs==25.1.0
beautifulsoup4==4.12.3
bitarray==3.0.0
blinker==1.8.2
Cartopy==0.23.0
certifi==2024.7.4
charset-normalizer==3.3.2
ckzg==2.0.1
click==8.1.7
colorama==0.4.6
comtypes==1.4.8
contourpy==1.2.1
cycler==0.12.1
cytoolz==1.0.1
decompyle3==3.9.2
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
eth-account==0.13.4
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.6.1
eth-rlp==2.1.0
eth-typing==5.1.0
eth-utils==5.2.0
eth_abi==5.2.0
Flask==3.0.3
flask-cors==5.0.1
flatbuffers==24.3.25
fonttools==4.53.1
frozendict==2.4.6
frozenlist==1.5.0
gast==0.6.0
gitignore==0.0.8
google-pasta==0.2.0
grpcio==1.66.1
gunicorn
gTTS==2.5.4
h11==0.14.0
h5py==3.11.0
hexbytes==1.3.0
httpcore==1.0.7
httpx==0.28.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
kali==0.0.8
keras==3.5.0
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-venn==1.1.1
mdurl
ml-dtypes
MouseInfo
multidict
multitasking
namex
nltk
numpy
openai
opt-einsum
optree
packaging
pandas
parsimonious
peewee
pillow
platformdirs
plotly
prompt_toolkit
propcache
protobuf
psutil
pure_eval
PyAudio
PyAutoGUI
pycryptodome
pydantic
pydantic_core
PyGetWindow
Pygments
pyjokes
pymongo
PyMsgBo
pyparsing
pyperclip
pypiwin32
pyproj
PyRect
PyScreeze
pyshp
python-dateutil
pyttsx3
pytube
pytweening
pytz
pyunormalize
pywhatkit
pywin32
pyzmq
regex
requests
rich
rlp
scikit-learn
scipy
setuptools
shapely
six
sniffio
soupsieve
spark-parser
SpeechRecognition
tenacity
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
toolz
tornado
tqdm
traitlets
types-requests
typing_extensions
tzdata
uncompyle6
urllib3
wcwidth
web3
websockets
Werkzeug
wheel
wikipedia
wrapt
xdis
yarl
yfinance
